[mysqld_multi]
mysqld = /usr/bin/mysqld_safe
mysqladmin = /usr/bin/mysqladmin
user = mysql
log = /var/log/maria5multi.log

[mysqld11]
#
# * Basic Settings for first server
#
{% if db5.mysqld11user is defined %}
user		= {{db5.mysqld11user}}
{% else %}
user		= mysql
{% endif %}
pid-file	= /var/run/mariadb/mysqld11.pid
socket		= /var/run/mariadb/mysqld11.sock
port		= 3311
basedir		= /usr
datadir		= /var/lib/mysql11
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking

[mysqld12]
#
# * Basic Settings for first server
#
{% if db5.mysqld11user is defined %}
user		= {{db5.mysqld12user}}
{% else %}
user		= mysql
{% endif %}
pid-file	= /var/run/mariadb/mysqld12.pid
socket		= /var/run/mariadb/mysqld12.sock
port		= 3312
basedir		= /usr
datadir		= /var/lib/mysql12
tmpdir		= /tmp
lc-messages-dir	= /usr/share/mysql
skip-external-locking


#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir /etc/mysql/multi.d/
